@model IEnumerable<GotFoodConnections.Models.Transport>


@{
    ViewBag.Title = "TransportList";
}

<div id="TransportImage">
    <img src="~/Images/Food-Transport-Image.jpg" />
</div>
<div id="PostHeader">
</div>
<div id="TransportOverlay">
</div>

<div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-5">

        <dl class="dl-horizontal listy">
            <dt id="listTitle">TRANSPORT ASSISTANCE</dt>
            @foreach (var item in Model)
            {
                <dd id="namesList">
                    <h3>@Html.ActionLink(item.OrganizationName, "Details", new { id = item.TransportID })</h3>
                </dd>
            }
        </dl>
    </div>
</div>





