@{
    ViewBag.Title = "Contact";
}
<div id="PostHeader"></div>

<div class="container-fluid" id="Collab">
    <h2 id="contactHead">Collaborators</h2>
    <div class="row-fluid" id="contacts">
        <div id="contactItem">
            <a href="https://eschulstad.github.io" target="_blank" id="collabphoto"><img id="selfPhoto" src="~/Photos/ES.JPG" /> </a>
            <p id="names">Erica Schulstad</p>
        </div>
        <div id="contactItem">
            <a href="https://gregmahring.github.io" target="_blank" id="collabphoto"><img id="selfPhoto" src="~/Photos/GM.JPG" /> </a>
            <p id="names"> Greg Mahring</p>
        </div>
        <div id="contactItem">
            <a href="https://abrown29.github.io/" target="_blank" id="collabphoto"><img id="selfPhoto" src="~/Photos/AB.jpg" /> </a>
            <p id="names">Amanda Brown </p>
        </div>
        <div id="contactItem">
            <a href="https://nmpulley.github.io/portfolio/index.html" target="_blank" id="collabphoto"><img id="selfPhoto" src="~/Photos/Headshot.JPG" /></a>
            <p id="names">Nichole M. Pulley</p>
        </div>
    </div>
</div>