@{
    ViewBag.Title = "Contact";
}
<h2>Collaborators</h2>
<li>Erica Schulstad   <a href="https://eschulstad.github.io" target="_blank">Portfolio</a></li>
<li>Greg Mahring      <a href="https://gregmahring.github.io" target="_blank">Portfolio</a></li>
<li>Amanda Brown      <a href="https://abrown29.github.io/" target="_blank">Portfolio</a></li>
<li>Nichole M. Pulley <a href="https://nmpulley.github.io/portfolio/index.html" target="_blank">Portfolio</a></li>