@{
    ViewBag.Title = "Contact";
}
<h2 id="contactHead">Collaborators</h2>

<div class="container-fluid" id="Collab">
    <a href="https://eschulstad.github.io" target="_blank" id="collabphoto"><img src="~/Photos/ES.JPG"/> </a>
    <p id="names">Erica Schulstad</p>

    <a href="https://gregmahring.github.io" target="_blank" id="collabphoto"><img src="~/Photos/GM.JPG"  /> </a>
    <p id="names"> Greg Mahring</p>

    <a href="https://abrown29.github.io/" target="_blank" id="collabphoto"><img src="~/Photos/AB.jpg" /> </a>
    <p id="names">Amanda Brown </p>

    <a href="https://nmpulley.github.io/portfolio/index.html" target="_blank" id="collabphoto"><img src="~/Photos/Headshot.JPG" /></a>
    <p id="names">Nichole M. Pulley</p>
</div>