@{
    ViewBag.Title = "Contact";
}
<h2>Collaborators</h2>
<div class="container-fluid">
    <div>
        <a href="https://eschulstad.github.io" target="_blank">Portfolio</a>
        <p>Erica Schulstad</p>
    </div>
    <div>
        <a href="https://gregmahring.github.io" target="_blank">Portfolio</a>
        <p>Greg Mahring</p>
    </div>
    <div>
        <a href="https://abrown29.github.io/" target="_blank">Portfolio</a>
        <p>Amanda Brown</p>
    </div>
    <div>
        <a href="https://nmpulley.github.io/portfolio/index.html" target="_blank"><img src="~/Photos/Headshot.JPG" height="150" width="100" /></a>
        <p>Nichole M. Pulley</p>
    </div>
</div>