@{
    ViewBag.Title = "Marketplace for Humanity";
}

<div id="MainPage">
    <div id="mainPageLinks">
        <div id="PostHeader">
        </div>

        <div id='warped'>
            <span class='w0'>M</span>
            <span class='w1'>A</span>
            <span class='w2'>R</span>
            <span class='w3'>K</span>
            <span class='w4'>E</span>
            <span class='w5'>T</span>
            <span class='w6'>P</span>
            <span class='w7'>L</span>
            <span class='w8'>A</span>
            <span class='w9'>C</span>
            <span class='w10'>E</span>
        </div>
        <p id="for">for</p>
        <p id="humanity">HUMANITY</p>

        @Html.ActionLink("Message Board", "Index", "MainFeeds", null, new { id = "MainFeedBtn" })
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginBtn" })
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerBtn" })

    </div>
</div>

