@{
    ViewBag.Title = "Home Page";
}

@*<div class="jumbotron">
    <h1>Got Food</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>*@

<div id="MainPage">
    <div id="mainPageLinks">
        <div id="PostHeader">
        </div>

            <div id='warped'>
                <span class='w0'>M</span>
                <span class='w1'>A</span>
                <span class='w2'>R</span>
                <span class='w3'>K</span>
                <span class='w4'>E</span>
                <span class='w5'>T</span>
                <span class='w6'>P</span>
                <span class='w7'>L</span>
                <span class='w8'>A</span>
                <span class='w9'>C</span>
                <span class='w10'>E</span>
            </div>
        <p id="for">for</p>
        <p id="humanity">HUMANITY</p>

        @Html.ActionLink("Message Board", "Index", "MainFeeds", null, new { id = "MainFeedBtn" })
        @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })

        @*<p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>*@
        @*<p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    @*<div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
</div>

@*<!DOCTYPE html>
<html>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
    <title>
        Warped Text
    </title>
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Quando:regular:latin-ext'>
    <style type='text/css'>
        #warped {
            position: relative;
            display: block;
            width: 1337px;
            height: 647px;
        }

            #warped > span[class^=w]:nth-of-type(n+0) {
                display: block;
                position: absolute;
                -moz-transform-origin: 50% 100%;
                -webkit-transform-origin: 50% 100%;
                -o-transform-origin: 50% 100%;
                -ms-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
            }

            #warped span {
                font-family: 'Quando';
                font-size: 38px;
                font-weight: regular;
                font-style: normal;
                line-height: 0.6;
                white-space: pre;
                overflow: visible;
                padding: 0px;
            }

            #warped .w0 {
                -moz-transform: rotate(-0.68rad);
                -webkit-transform: rotate(-0.68rad);
                -o-transform: rotate(-0.68rad);
                -ms-transform: rotate(-0.68rad);
                transform: rotate(-0.68rad);
                width: 36px;
                height: 22px;
                left: 631.35px;
                top: 195.89px;
            }

            #warped .w1 {
                -moz-transform: rotate(-0.52rad);
                -webkit-transform: rotate(-0.52rad);
                -o-transform: rotate(-0.52rad);
                -ms-transform: rotate(-0.52rad);
                transform: rotate(-0.52rad);
                width: 27px;
                height: 22px;
                left: 665.99px;
                top: 175.37px;
            }

            #warped .w2 {
                -moz-transform: rotate(-0.39rad);
                -webkit-transform: rotate(-0.39rad);
                -o-transform: rotate(-0.39rad);
                -ms-transform: rotate(-0.39rad);
                transform: rotate(-0.39rad);
                width: 27px;
                height: 22px;
                left: 694.79px;
                top: 161.48px;
            }

            #warped .w3 {
                -moz-transform: rotate(-0.24rad);
                -webkit-transform: rotate(-0.24rad);
                -o-transform: rotate(-0.24rad);
                -ms-transform: rotate(-0.24rad);
                transform: rotate(-0.24rad);
                width: 30px;
                height: 22px;
                left: 725.19px;
                top: 151.35px;
            }

            #warped .w4 {
                -moz-transform: rotate(-0.1rad);
                -webkit-transform: rotate(-0.1rad);
                -o-transform: rotate(-0.1rad);
                -ms-transform: rotate(-0.1rad);
                transform: rotate(-0.1rad);
                width: 25px;
                height: 22px;
                left: 759.72px;
                top: 146.02px;
            }

            #warped .w5 {
                -moz-transform: rotate(0.03rad);
                -webkit-transform: rotate(0.03rad);
                -o-transform: rotate(0.03rad);
                -ms-transform: rotate(0.03rad);
                transform: rotate(0.03rad);
                width: 25px;
                height: 22px;
                left: 789.69px;
                top: 145.14px;
            }

            #warped .w6 {
                -moz-transform: rotate(0.16rad);
                -webkit-transform: rotate(0.16rad);
                -o-transform: rotate(0.16rad);
                -ms-transform: rotate(0.16rad);
                transform: rotate(0.16rad);
                width: 23px;
                height: 22px;
                left: 819.53px;
                top: 147.98px;
            }

            #warped .w7 {
                -moz-transform: rotate(0.28rad);
                -webkit-transform: rotate(0.28rad);
                -o-transform: rotate(0.28rad);
                -ms-transform: rotate(0.28rad);
                transform: rotate(0.28rad);
                width: 25px;
                height: 22px;
                left: 846.79px;
                top: 154.41px;
            }

            #warped .w8 {
                -moz-transform: rotate(0.42rad);
                -webkit-transform: rotate(0.42rad);
                -o-transform: rotate(0.42rad);
                -ms-transform: rotate(0.42rad);
                transform: rotate(0.42rad);
                width: 27px;
                height: 22px;
                left: 874.85px;
                top: 165.14px;
            }

            #warped .w9 {
                -moz-transform: rotate(0.55rad);
                -webkit-transform: rotate(0.55rad);
                -o-transform: rotate(0.55rad);
                -ms-transform: rotate(0.55rad);
                transform: rotate(0.55rad);
                width: 27px;
                height: 22px;
                left: 903.06px;
                top: 180.19px;
            }

            #warped .w10 {
                -moz-transform: rotate(0.69rad);
                -webkit-transform: rotate(0.69rad);
                -o-transform: rotate(0.69rad);
                -ms-transform: rotate(0.69rad);
                transform: rotate(0.69rad);
                width: 25px;
                height: 22px;
                left: 929.15px;
                top: 198.35px;
            }
    </style>
</head>

<body>
    <div id='warped'>
        <span class='w0'>M</span><span class='w1'>A</span><span class='w2'>R</span><span class='w3'>K</span><span class='w4'>E</span><span class='w5'>T</span><span class='w6'>P</span><span class='w7'>L</span><span class='w8'>A</span><span class='w9'>C</span><span class='w10'>E</span>
    </div>
</body>

</html>*@