
@model IEnumerable<GotFoodConnections.Models.CharityProfile>


@{
    ViewBag.Title = "CharityList";
}

<div id="CharityImage">
    <img src="~/Images/Charity-Food-Image.jpg" />
</div>
<div id="PostHeader">
</div>
<div id="CharityOverlay">
</div>

<div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-5">

        <dl class="dl-horizontal listy">
            <dt id="listTitle">CHARITIES</dt>
            @foreach (var item in Model)
            {
                <dd id="namesList">
                    <h3>@Html.ActionLink(item.CharityName, "Details", new { id = item.CharityID })</h3>
                </dd>
            }
        </dl>
    </div>
</div>


    

