
@model IEnumerable<GotFoodConnections.Models.CharityProfile>


@{
    ViewBag.Title = "CharityList";
}

<h2 id="title">Charity List</h2>
<img src="~/Images/help-1300942_960_720.png" id="charity"/>
<table class="table" id="charityList">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CharityName)
        </th>
      
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td id="item">
                @*@Html.DisplayFor(modelItem => item.CharityName)*@
                @Html.ActionLink(item.CharityName, "Details", new { id = item.CharityID })
                
            </td>
        </tr>
    }
   
    
</table>
