body {
    width: 100%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select{
    max-width: 280px;
}

.faqHeader {
    font-size: 27px;
    margin: 20px;
}

.panel-heading [data-toggle="collapse"]:after {
    font-family: 'FontAwesome';
    content: "\f138"; /* "play" icon */
    float: right;
    color: #F58723;
    font-size: 18px;
    line-height: 22px;
    /* rotate "play" icon from > (right arrow) to down arrow */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.panel-heading [data-toggle="collapse"].collapsed:after {
    /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #454444;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
    height:65px;
}

h3#tabTitle {
    position: absolute;
    top: 75px;
    left: 33.5%;
    margin: 0;
    padding: 10px 0;
    color: #E7F2F2;
    text-shadow: 1px 1px #38353D;
    font-family: 'Sriracha', cursive;
    font-size: 30px;
}

/*Start of Create Post button*/
#CreatePost {
    padding: 10px;
    position: fixed;
    top: 93px;
    left: 25px;
    background: linear-gradient(to bottom, rgba(255,159,107,1) 0%, rgba(218,98,33,1) 30%, rgba(218,98,33,1) 50%, rgba(255,134,74,1) 100%);
    border: 1px solid #38353D;
    border-radius: 8px;
    color: #38353D;
    font-family: 'Scada', sans-serif;
    font-weight: 700;
    z-index: 3;
}

    #CreatePost:hover {
        background-color: #FF9B3B;
        text-decoration: none;
    }
/*End of Create Post button*/

div#home.tab-pane.active.in {
    width: 100%;
    margin: 0 50px 0 0px;
    background-color: transparent;
    border-top: 1px solid #ddd;
}

hr {
    display: none;
}

footer {
    position: fixed;
    width: 30%;
    bottom: 0;
    padding-left: 10px;
    font-family: 'Scada', sans-serif;
    color: #E7F2F2;
    text-shadow: 1px 0px 0px #000000, -1px 0px 0 #000000, 0 1px 0 #000000, 0 -1px 0 #38353D;
}

    footer > p > a {
        color: rgba(218,98,33,1);
    }

        footer > p > a:hover {
            color: #FF9B3B;
            text-decoration: none;
        }

/*Start of Main Feed Tabs styling*/
.nav-tabs {
    position: fixed;
    padding-left: 235px;
    width: 100%;
    border-bottom: none;
    margin-bottom: -1px;
    background-color: #E7F2F2;
    z-index: 1;
}

a#FoodAvailable {
    background: linear-gradient(to right, rgba(56,53,61,.9) 0%,rgba(56,53,61,.9) 100%), url('../Images/Food-Table-Image.jpeg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size:cover;
}

li.active > a#FoodAvailable {
    background: linear-gradient(to right, rgba(56,53,61,0) 0%, rgba(56,53,61,0) 33%, rgba(56,53,61,.6) 50%,rgba(56,53,61,.9) 100%), url('../Images/Food-Table-Image.jpeg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

a#FoodNeeded {
    background: linear-gradient(to right, rgba(56,53,61,.9) 0%, rgba(56,53,61,.9) 100%), url('../Images/Charity-Food-Image.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

li.active > a#FoodNeeded {
    background: linear-gradient(to right, rgba(56,53,61,0) 0%, rgba(56,53,61,0) 25%, rgba(56,53,61,.75) 40%,rgba(56,53,61,.9) 100%), url('../Images/Charity-Food-Image.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

a#FoodTransport {
    background: linear-gradient(to right, rgba(56,53,61,.9) 0%, rgba(56,53,61,.9) 100%), url('../Images/Food-Transport-Image.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

li.active > a#FoodTransport {
    background: linear-gradient(to right, rgba(56,53,61,0) 0%, rgba(56,53,61,0) 25%, rgba(56,53,61,.75) 40%,rgba(56,53,61,.9) 100%), url('../Images/Food-Transport-Image.jpg');
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-tabs > li > a {
    border-radius: 8px 8px 0 0;
    margin-top: 19px;
    margin-left: 12px;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    color: #E7F2F2;
    font-family: 'Sriracha', cursive;
    font-size: 18px;
    text-shadow: 1px 1px #38353D;
}

    .nav-tabs > li > a:hover {
        border-bottom-color: transparent;
        color: #FF9B3B;
    }


.nav > li.active > a {
    border-bottom: none;
    color: #E7F2F2;
    text-shadow: 1px 1px #38353D;
}

.nav-tabs > li.active > a:hover {
    background-color: #E7F2F2;
    color: #E7F2F2;
    text-shadow: 1px 1px #38353D;
}
/*End of Main Feed Tabs styling*/

/*Start of Posts on Main Feed*/
div#ProviderOverlay {
    background: linear-gradient(to right, rgba(56,53,61,0) 0%, rgba(56,53,61,0) 33%, rgba(56,53,61,.6) 50%,rgba(56,53,61,.9) 100%);
    position:fixed;
    height:100%;
    width:100%;
}

div#CharityOverlay {
    background: linear-gradient(to right, rgba(56,53,61,0) 0%, rgba(56,53,61,0) 25%, rgba(56,53,61,.75) 40%,rgba(56,53,61,.9) 100%);
    position:fixed;
    height:100%;
    width:100%;
    margin-top:65px;
}

div#TransportOverlay {
    background: linear-gradient(to right, rgba(56,53,61,0) 0%, rgba(56,53,61,0) 25%, rgba(56,53,61,.75) 40%,rgba(56,53,61,.9) 100%);
    position:fixed;
    height:100%;
    width:100%;
}

div#PostHeader{
    position:fixed;
    height:65px;
    width:100%;
    background-color: #E7F2F2;
    z-index:1;
}

div#ProviderImage > img, div#CharityImage > img, div#TransportImage > img {
    width:100%;
    height:auto;
    padding: 0;
    position: fixed;
    top:0;
    left:0;
    z-index:-1;
}

div#ProvPost, div#CharPost, div#TransPost {
    margin: 10px 0;
    float: right;
    padding: 0;
    border: 2px solid rgba(56, 53, 61, 0.85);
    border-radius: 18px;
    background-color: rgba(231, 242, 242, .85);
    box-shadow: 15px 10px 20px rgba(23, 21, 25, 0.90);
}

div#post {
    width: 100%;
    padding: 0 10px 0 10px;
    border-bottom: 1px solid rgba(56, 53, 61, 0.5);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background: linear-gradient(to bottom, rgba(255,159,107,1) 0%, rgba(218,98,33,1) 30%, rgba(218,98,33,1) 50%, rgba(255,134,74,1) 100%);
}

#post.container > h2 {
    margin-top: 10px;
    color: #38353D;
    font-family: 'Sriracha', cursive;
    font-size: 35px;
}

h5 {
    font-weight: 700;
    color: #38353D;
    font-family: 'Scada', sans-serif;
}

div#FoodType, div#FoodRequested, div#Message {
    width: 100%;
    border-bottom: 1px solid rgba(56, 53, 61, 0.5);
    padding: 0 10px 0 10px;
}

#FoodTypeLabel, #FoodRequestedLabel, #MessageLabel {
    padding: 10px 0 10px 0;
    margin: 0;
    font-family: 'Scada', sans-serif;
    font-weight: 700;
}

#FoodTypeText, #FoodRequestedText, #MessageText {
    font-size: 20px;
    margin: 0;
    padding-bottom: 10px;
    line-height: 20px;
    font-family: 'Scada', sans-serif;
}

div.row {
    position: absolute;
    top: 130px;
    width: 98%;
    margin: 0;
}

#row3 {
    border-bottom: 1px solid rgba(56, 53, 61, 0.5);
    min-height: 50px;
    overflow: auto;
    position: relative;
}


div#PeopleFed, div#Allergens, div#ExpirationDate {
    width: 33.3333%;
    display: inline-block;
    min-height: 60px;
}

div#PeopleFed, div#PeopleFedCreate {
    padding: 5px 5px 5px 10px;
    border-right: 1px solid rgba(56, 53, 61, 0.5);
    float: left;
}

div#Allergens, div#AllergensCreate {
    padding: 5px 5px 5px 5px;
    border-right: 1px solid rgba(56, 53, 61, 0.5);
}

div#ExpirationDate, div#ExpirationDateCreate {
    padding: 5px 10px 5px 5px;
    float: right;
}

h5#PeopleFedLabel, h5#AllergensLabel, h5#ExpirationLabel {
    margin: 0;
    display: inline-block;
    height: auto;
    width: auto;
    font-size: 14px;
}

p#PeopleFedText, p#AllergensText, p#ExpirationText {
    margin-bottom: 0;
    vertical-align: bottom;
    font-family: 'Scada', sans-serif;
    font-size: 14px;
}

#row2 {
    border-bottom: 1px solid rgba(56, 53, 61, 0.5);
    height: 100%;
    position: relative;
}

div#SpecialTransport, div#Comments, div#WeightRequested, div#PeopleToFeed, div#DateRequested, div#StartTime, div#EndTime {
    width: 50%;
    display: inline-block;
    min-height: 60px;
}

div#Comments, div#PeopleToFeed, div#StartTime {
    float: left;
    padding: 5px 5px 5px 10px;
    border-right: 1px solid rgba(56, 53, 61, 0.5);
    height: 100%;
}

div#SpecialTransport, div#DateRequested, div#WeightRequested, div#EndTime {
    padding: 5px 10px 5px 10px;
    height: 100%;
}

h5#CommentsLabel, h5#SpecialTransportLabel, h5#WeightRequestedLabel, h5#PeopleToFeedLabel, h5#DateRequestedLabel, h5#StartTimeLabel, h5#EndTimeLabel {
    margin: 0;
    display: inline-block;
    font-size: 14px;
}

p#CommentsText, p#SpecialTransportText, p#WeightRequestedText, p#PeopleToFeedText, p#DateRequestedText, p#StartTimeText, p#EndTimeText {
    margin: 0;
    font-family: 'Scada', sans-serif;
    font-size: 14px;
}

#row1{
    border-bottom: 1px solid rgba(56, 53, 61, 0.5);
    height: 100%;
    position: relative;
}

div#TransportComments{
    width: 100%;
    display: inline-block;
    padding: 5px 5px 5px 10px;
    min-height:50px;
}

div#Timestamp {
    display: inline;
}

div#CharityTimestamp, div#TransportTimestamp{
    height:35px;
}

#TimestampLabel {
    text-align:right;
    margin-right: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 12px;
    font-family: 'Scada', sans-serif;
}

p#CharityTimestampLabel, p#TransportTimestampLabel {
    display:inline;
    float:right;
    text-align:right;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-top: 8px;
    font-size: 12px;
    font-family: 'Scada', sans-serif;
    width:195px;
}

input#delete{
    padding: 3px;
    margin:5px 0 5px 20px;
    background: linear-gradient(to bottom, rgba(255,159,107,1) 0%, rgba(218,98,33,1) 30%, rgba(218,98,33,1) 50%, rgba(255,134,74,1) 100%);
    border: 1px solid #38353D;
    border-radius: 8px;
    color: #38353D;
    font-family: 'Scada', sans-serif;
    font-size:12px;
    font-weight: 700;
}

form{
    display:inline;
    width:100%;
}
/*End of Provider Posts on Main Feed*/

/*Start of Modal Menu Styling*/
i.ion-ios-information {
    padding-left: 15px;
    color: #38353D;
    font-weight: 700;
}

div.modal-content {
    border-radius: 15px;
    border: 2px solid #38353D;
}

div.modal-header {
    background: linear-gradient(to bottom, rgba(255,159,107,1) 0%, rgba(218,98,33,1) 30%, rgba(218,98,33,1) 50%, rgba(255,134,74,1) 100%);
    font-family: 'Sriracha', cursive;
    border-radius: 13px 13px 0 0;
    border-bottom: 1px solid rgba(56, 53, 61, 0.5);
}

.modal-title {
    font-size: 24px;
}

.modal-header .close {
    margin-top: 7px;
}

.modal-body {
    background-color: rgba(231, 242, 242, .85);
    padding: 0;
}

    .modal-body > p {
        font-family: 'Scada', sans-serif;
        font-size: 14px;
        margin: 0;
        padding: 5px 15px;
        border-bottom: 1px solid rgba(56, 53, 61, 0.5);
    }

        .modal-body > p > a {
            color: rgba(218,98,33,1);
        }

            .modal-body > p > a:hover {
                color: #FF9B3B;
                text-decoration: none;
            }

.modal-footer {
    background-color: rgba(231, 242, 242, .85);
    border-radius: 0 0 13px 13px;
}

    .modal-footer > .btn-default {
        background: linear-gradient(to bottom, rgba(255,159,107,1) 0%, rgba(218,98,33,1) 30%, rgba(218,98,33,1) 50%, rgba(255,134,74,1) 100%);
        font-family: 'Scada', sans-serif;
        border-radius: 6px;
        border: 1px solid #38353D;
    }
/*End of Modal Menu Styling*/

/* The Overlay (background) */
.sidenav {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 4; /* Sit on top */
    left: 0;
    top: 0;
    background-color: #B9675B; /* Black fallback color */
    background-color: #B9675B;
    opacity: .95;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.sidenav-content {
    position: relative;
    top: 35%; /* 25% from the top */
    width: 25%; /* 25% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.sidenav a {
    padding: 8px;
    font-family:'Sriracha',cursive;
    text-decoration: none;
    font-size: 25px;
    color: #38353D;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

ul.overlay-content > li {
    list-style-type: none;
}

#logoutForm {
    float: left !important;
    list-style-type: none;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .sidenav a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0px;
    right: 15px;
    font-size: 50px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .sidenav a {
        font-size: 20px;
    }

    .sidenav .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

#slide {
    z-index: 2;
    position: fixed;
    left: 5px;
    top: 7px;
}

    #slide p {
        transition: all .3s;
    }

.navbar-brand {
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden; /* hide the overflow */
    height:100%;
    padding:0;
    margin-left:7px;
    margin-top:2px;
}

#slide img:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.scoreBody{
    background-color: #E7F2F2;
}
.scorePosition{
    position:fixed;
    width: 100%;
    z-index:1;
    background-color:#E7F2F2;
    
}
#scoreHead{
   
    font-family:'Sriracha', cursive;
    text-align:center;
    color:#FF9B3B;
    font-size:45px;
    padding-top:30px;
    
}
div.scoreNames{
    position:initial;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    margin-bottom:15px;
    margin-top:155px;
}
#scoreLevelOne{
    font-family:'Sriracha',cursive;
    color:#D6A7A0;
    font-size:15px;
    text-align:center;
}
#scoreLevelTwo{
    font-family:'Sriracha',cursive;
    color:#CE958C;
    font-size:30px;
}
#scoreLevelThree{
    font-family:'Sriracha',cursive;
    color:#c58278;
    font-size:35px;
}
#scoreLevelFour{
    font-family:'Sriracha',cursive;
    color:#BD7064;
    font-size:40px;
}
#scoreLevelFive{
    font-family:'Sriracha',cursive;
    color:#b45d51;
    font-size:45px;
}
#scoreLevelSix{
    font-family:'Sriracha',cursive;
    color:#a35145;
    font-size:50px;
}
#scoreInfo{
    text-align:center;
}
div.scoreCards.row{
    position:initial;
}
#scoreTitle{
    font-family:'Sriracha', cursive;
    font-size:35px;
    color:#Ff9B3b;
    
}
#scoreNum{
    font-family:'Scada',sans-serif;
    color:#b9675b;
    font-size: 16px;

}
#scoreInfo.thumbnail{
    border:  solid #b9675b 1px;
    border-radius: 15px;
    min-height: 520px;
}
#scoreInfo.thumbnail img{
    border-radius:15px;
    height: 215px;
}
#scoreProviders{
    text-align:center;
}
img#levelImages{
    height:50px;
    margin-bottom:10px;
}
/*Start of general profile styling*/
.table, .dl-horizontal{
    position:relative;
    left:700px;
    width:35%;
}

#login{
    margin-top:55px;
    margin-left:17px;
}
#title{
    margin-top:70px;
    margin-left:700px;
}
#secondTitle{
    margin-left:700px;
    margin-top:30px;
}

.table{
    border:solid;
    border-radius:5px;
}

#item a{
    color:#38353D;
}

/*End of general profile styling*/

/*Start of Transport Profile styling*/
#transport{
   height:400px;
   width:auto;
}

#transportList, #transportProfile{
    margin-top:-400px;
}
/*End of Transport Profile styling*/


/*Start of Charity Profile styling*/
#charity {
    height:400px;
    width:auto;
}
 
#charityList{
    margin-top:-400px;
}
#charityProfile{
    margin-top:-400px;
}
/*End Charity profile styling*/

/*Start of Provider profile styling*/
#provider{
    height:400px;
    width:auto;
}

#providerList, #providerProfile{
    margin-top:-400px;
}
/*End of Provider profile styling*/

#MainPage {
    background-image: url('../Images/Main-Page-Image.jpg');
    background-size:cover;
    height:100vh;
    width:auto;
    background-repeat:no-repeat;
    background-position:bottom;
}

#MainFeedBtn, #loginLink, #registerLink{
    padding: 10px;
    position: fixed;
    background: linear-gradient(to bottom, rgba(255,159,107,1) 0%, rgba(218,98,33,1) 30%, rgba(218,98,33,1) 50%, rgba(255,134,74,1) 100%);
    border: 1px solid #38353D;
    border-radius: 8px;
    color: #38353D;
    font-family: 'Scada', sans-serif;
    font-size:18px;
    font-weight: 700;
    z-index: 3;
}

#MainFeedBtn:hover, #loginLink:hover, #registerLink:hover{
    background-color: #FF9B3B;
    text-decoration: none;
}

a#MainFeedBtn{
    top:380px;
    left:690px;
    font-size:22px;
    padding:10px 30px;
    box-shadow:rgba(56,53,61,.4) 8px 8px 20px;
}

a#loginLink{
    top:315px;
    left:803px;
    width:150px;
    padding:10px 0;
    text-align:center;
    box-shadow:rgba(56,53,61,.4) 8px 8px 20px;
}

a#registerLink{
    top:315px;
    left:628px;
    width:150px;
    padding:10px 0;
    text-align:center;
    box-shadow:rgba(56,53,61,.4) 8px 8px 20px;
}

#warped {
            position: relative;
            display: block;
            width: 100%;
            height: auto;
        }


#warped > span[class^=w]:nth-of-type(n+0) {
                display: block;
                position: absolute;
                -moz-transform-origin: 50% 100%;
                -webkit-transform-origin: 50% 100%;
                -o-transform-origin: 50% 100%;
                -ms-transform-origin: 50% 100%;
                transform-origin: 50% 100%;
            }

            #warped span {
                font-family: 'Quando';
                font-size: 38px;
                font-weight: 600;
                font-style: normal;
                line-height: 0.6;
                white-space: pre;
                overflow: visible;
                padding: 0px;
                color:#FF9B3B;
                text-shadow:2px 2px 0 #38353D;
            }

            #warped .w0 {
                -moz-transform: rotate(-0.68rad);
                -webkit-transform: rotate(-0.68rad);
                -o-transform: rotate(-0.68rad);
                -ms-transform: rotate(-0.68rad);
                transform: rotate(-0.68rad);
                width: 36px;
                height: 22px;
                left: 631.35px;
                top: 195.89px;
            }

            #warped .w1 {
                -moz-transform: rotate(-0.52rad);
                -webkit-transform: rotate(-0.52rad);
                -o-transform: rotate(-0.52rad);
                -ms-transform: rotate(-0.52rad);
                transform: rotate(-0.52rad);
                width: 27px;
                height: 22px;
                left: 665.99px;
                top: 175.37px;
            }

            #warped .w2 {
                -moz-transform: rotate(-0.39rad);
                -webkit-transform: rotate(-0.39rad);
                -o-transform: rotate(-0.39rad);
                -ms-transform: rotate(-0.39rad);
                transform: rotate(-0.39rad);
                width: 27px;
                height: 22px;
                left: 694.79px;
                top: 161.48px;
            }

            #warped .w3 {
                -moz-transform: rotate(-0.24rad);
                -webkit-transform: rotate(-0.24rad);
                -o-transform: rotate(-0.24rad);
                -ms-transform: rotate(-0.24rad);
                transform: rotate(-0.24rad);
                width: 30px;
                height: 22px;
                left: 725.19px;
                top: 151.35px;
            }

            #warped .w4 {
                -moz-transform: rotate(-0.1rad);
                -webkit-transform: rotate(-0.1rad);
                -o-transform: rotate(-0.1rad);
                -ms-transform: rotate(-0.1rad);
                transform: rotate(-0.1rad);
                width: 25px;
                height: 22px;
                left: 759.72px;
                top: 146.02px;
            }

            #warped .w5 {
                -moz-transform: rotate(0.03rad);
                -webkit-transform: rotate(0.03rad);
                -o-transform: rotate(0.03rad);
                -ms-transform: rotate(0.03rad);
                transform: rotate(0.03rad);
                width: 25px;
                height: 22px;
                left: 789.69px;
                top: 145.14px;
            }

            #warped .w6 {
                -moz-transform: rotate(0.16rad);
                -webkit-transform: rotate(0.16rad);
                -o-transform: rotate(0.16rad);
                -ms-transform: rotate(0.16rad);
                transform: rotate(0.16rad);
                width: 23px;
                height: 22px;
                left: 819.53px;
                top: 147.98px;
            }

            #warped .w7 {
                -moz-transform: rotate(0.28rad);
                -webkit-transform: rotate(0.28rad);
                -o-transform: rotate(0.28rad);
                -ms-transform: rotate(0.28rad);
                transform: rotate(0.28rad);
                width: 25px;
                height: 22px;
                left: 846.79px;
                top: 154.41px;
            }

            #warped .w8 {
                -moz-transform: rotate(0.42rad);
                -webkit-transform: rotate(0.42rad);
                -o-transform: rotate(0.42rad);
                -ms-transform: rotate(0.42rad);
                transform: rotate(0.42rad);
                width: 27px;
                height: 22px;
                left: 874.85px;
                top: 165.14px;
            }

            #warped .w9 {
                -moz-transform: rotate(0.55rad);
                -webkit-transform: rotate(0.55rad);
                -o-transform: rotate(0.55rad);
                -ms-transform: rotate(0.55rad);
                transform: rotate(0.55rad);
                width: 27px;
                height: 22px;
                left: 903.06px;
                top: 180.19px;
            }

            #warped .w10 {
                -moz-transform: rotate(0.69rad);
                -webkit-transform: rotate(0.69rad);
                -o-transform: rotate(0.69rad);
                -ms-transform: rotate(0.69rad);
                transform: rotate(0.69rad);
                width: 25px;
                height: 22px;
                left: 929.15px;
                top: 198.35px;
            }

#for{
    font-family: 'Quando';
    font-size: 28px;
    font-weight: 600;
    color:#FF9B3B;
    text-shadow:2px 2px 0 #38353D;
    position:absolute;
    left:769px;
    top:200px;
}

#humanity{
    font-family: 'Quando';
    font-size: 55px;
    font-weight: 600;
    color:#FF9B3B;
    text-shadow:2px 2px 0 #38353D;
    position:absolute;
    left:617px;
    top:235px;
}