@model IEnumerable<GotFoodConnections.Models.Provider>


@{
    ViewBag.Title = "ProviderList";
}


@*<img src="~/Images/Food_Donor_Image.png" id="provider" />*@


            @*@Html.DisplayNameFor(model => model.OrgName)*@
<div id="ProviderImage">
    <img src="~/Images/Food-Table-Image.jpeg" />
</div>
<div id="PostHeader">

</div>
<div id="ProviderOverlay">
</div>
    <div class="row">
        <div class="col-xs-12 col-md-4 col-md-offset-5">

            <dl class="dl-horizontal listy">
                <dt id="listTitle">FOOD DONORS</dt>
                @foreach (var item in Model)
            {
                    <dd id="namesList">
                        <h3>@Html.ActionLink(item.OrgName, "Details", new { id = item.ProviderID })</h3>
                    </dd>
                }
            </dl>
        </div>
    </div>
